aiohttp>=3.7.4,<4
audioop-lts; python_version>='3.13'
sphinx>=5.0.0,<7.0
sphinx-rtd-theme>=1.2.0,<3.0
sphinx-autodoc-typehints>=1.19.0,<3
sphinx-copybutton>=0.5.2,<1
sphinxcontrib-trio>=1.0,<2
sphinx-inline-tabs>=2.0,<3
Jinja2<3.1